<!DOCTYPE html>
<html lang="en"><head>
{% load staticfiles %}
{% load humanize %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{% static "favicon.ico" %}">
<title>The Internet Baseball Database - Financial Playoff Efficiency Rating</title>

<!-- Bootstrap core CSS -->
<link href="../../static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>



  <body>
   <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src = "{%static "MLB_Logo_Small.png"  %}" class="img-responsive" style="max-width:100px; margin-top: -10px;"></a>
    </div>
    <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/teams">Teams</a></li>
          <li><a href="/players">Players</a></li>
          <li><a href="/years">Years</a></li>
      </ul>
  </div>
</div>
</div>
<div class="jumbotron">
    <h1>FPER - Financial Playoff Efficiency Rating</h1>
    <h2>The new way to measure organizational efficiency</h2>
    <p>Financial Playoff Efficiency Rating (FPER) is a new statistical measure of a Major League Baseball team's ability to stretch their dollars. FPER expresses the degree to which a team wins and appears in the playoffs while spending the least amount of money. </p>
    <h3>FPER = [ (Payroll) / (Wins)&sup2; ] / (Playoff Apearances + 1)</h3>
    <p>Where Payroll and Wins are a summation over the defined period. FPER can be calculated for a single year, or over multiple years. </p>
    <p>FPER emphasizes wins and payroll, but prioritizes playoff appearances as the most important factor in efficiency. The general consensus in baseball is that 90 wins is sufficient to reach the postseason. Winning more than 90 games is always the goal as a team, but generally it is superflous. In many sports winning more games than is required to reach the playoffs is advantageous for seeding. This is true in baseball to a degree, but as the ultimate game of chance, seeding matters less in the MLB playoffs than in any other professional sport. </p>
    <p>If a team spends excess money in their quest to reach the postseason, hoping as all teams do that luck will favor them when they get there, they run the risk of overspending and cutting into margins. Others play in large markets that allow them greater freedom to spend, and be less efficient with their dollar. This is considered by some to be an unfair advantage. </p>
    <p>FPER normalizes a team's spending with their wins and playoff appearances. A team that spends twice as much as another but achieves the same results will be punished in their FPER rating, while a team that underspends but overperforms will be rewarded. </p>        <p><b>The smaller the FPER the better</b></p>
    <p>The following calculation shows each MLB team's FPER over the last 10 years. </p>
</div>
<div class="row">
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <b>
                <th>Team</th><th>Average Payroll $ Spent Per Win</th><th>Total Wins</th><th>Playoff Appearances</th><th>FPER</th>
              </b>
            </tr>
          </thead>
          <tbody>
            <script>
                function get(theUrl) {
                    var xmlHttp = null;
                    xmlHttp = new XMLHttpRequest();
                    xmlHttp.open("GET", theUrl, false);
                    xmlHttp.send(null);
                    return xmlHttp.responseText;
                }
                function numberWithCommas(x) {
                    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
                for( j = 1; j < 12; j++){
                    document.write("<tr>")
                    //for going through teams
                    var txt = get("http://frozen-plateau-5382.herokuapp.com/api/teams/"+j+"/years");
                    txt = JSON.parse(txt);

                    //get name
                    var nametxt = get("http://frozen-plateau-5382.herokuapp.com/api/teams/"+j);
                    nametxt = JSON.parse(nametxt);
                    var name = nametxt[0].fields.name;
                    document.write("<td>"+name+"</td>");
                    pay = 0;
                    win = 0;
                    playoff = 1;
                    for (var i = 0; i < 10; i++) {
                        _teamyr = txt[i].fields;
                        pay += _teamyr.payroll;
                        win += _teamyr.wins;
                        if (_teamyr.playoffs != ""){
                            playoff += 1;
                        }
                    };

                    document.write("<td>$"+numberWithCommas(Math.round(pay/win))+"</td>");
                    document.write("<td>"+win+"</td>");
                    document.write("<td>"+(playoff-1)+"</td>");
                    document.write("<td>"+numberWithCommas(Math.round( (pay/(win*win))/playoff))+"</td>");
                    document.write("</tr>")
                };

              </script>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/js/jquery-2.1.0.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>


</body>
</html>

