<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="8TF7HJ1ecoBh6ctbOTo9ONW5wPD1PK3yPoMfyz2R_DQ" />
    <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->

    <title>Internet Baseball Database</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!--
    <style>


      .col-centered{
      float: none;
      margin: 0 auto;
      }
    </style>
  -->

	  <div class="jumbotron">

      <div class="container-fluid text-center">
        <h1>The Internet Baseball Database</h1>
		    <!--<a href = "#" class = "btn btn-large btn-success">Get Started</a>-->
      </div>
	  <div class = "row">
      <div class="col-md-3"></div>
		  <div class = "col-md-2">
          	<p>Made by:.<br> Clare Coleman<br> Tim Simmons<br> Jordan Graves<br> Deneb Garza<br> Kendall Ahrendsen</p>
		  </div>
		  <div class = "col-md-7">
			  <div class="container-fluid">
			     <img src="{%static "mlb.gif" %}" alt = "MLB" class="img-responsive"/>
		    </div>
	    </div>

	  </div><!-- /.container -->
     <div class="row">
    <div class="container-fluid text-center">
      <h2> Available Pages: </h2>
    <table>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/players/01/">/players/01/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/players/02/">/players/02/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/players/03/">/players/03/</a><br></tr>

      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/laa">/teams/laa</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/stl">/teams/stl</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/lad">/teams/lad</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/wsn">/teams/wsn</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/fla">/teams/fla</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/min">/teams/min</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/bos">/teams/bos</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/nyy">/teams/nyy</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/pit">/teams/pit</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/teams/det">/teams/det</a><br></tr>

      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2013/">/years/2013/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2012/">/years/2012/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2011/">/years/2011/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2010/">/years/2010/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2009/">/years/2009/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2008/">/years/2008/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2007/">/years/2007/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2006/">/years/2006/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2005/">/years/2005/</a><br></tr>
      <tr><a href="http://frozen-plateau-5382.herokuapp.com/years/2004/">/years/2004/</a><br></tr>
    </table>
    </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/js/jquery-2.1.0.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
  </body>
</html>
