{% extends "base.html" %}
{% load staticfiles %}
{% block title %} - {{ player.name }}{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
   <div class = "container-fluid">
     <div class="row">
      <h1> {{ player.name }}  </h1>
      <h2>#{{ player.number }}</h2>
    </div>
    <div class = "row">
        <div class="col-md-4">
            <img src=" {{ player.images.all.0.image }} " class="img-responsive"><br>
        </div>
        <div class="col-md-2">
            Position: {{player.position}}<br>
            Bats: {{player.bats}}<br>
            Throws: {{player.throws}}<br>
            Height: {{player.height}}<br>
            Weight: {{player.weight}}<br>
            School: {{player.school}}<br>
        </div>
    
    <div class="container-fluid">
      <div class="col-md-3">

        <a class="twitter-timeline"  width="300" height="300" data-dnt="true" href="https://twitter.com/{{player.social}}"
        data-widget-id="446046951486676992"
        data-screen-name="{{player.social|slice:"1:"}}" data-show-replies="false"
        >Tweets by {{social}}</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col-md-3">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="width:300px;"><div style="overflow:hidden;height:300px;width:300px;"><div id="gmap_canvas" style="height:300px; width:300px;"></div><style>.gmap{position:relative;line-height:1.12;overflow:hidden;color:#000;white-space:nowrap;display:block;margin-bottom:2px;font-weight:500;}</style><iframe src="http://www.embed-google-map.com/addmap.php"><a href="http://www.addlikebutton.net" class="map-data">addlikebutton.net</a></iframe></div>

        <script type="text/javascript">

        function httpGet(theUrl) {
          var xmlHttp = null;

          xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET", theUrl, false);
          xmlHttp.send(null);
          return xmlHttp.responseText;
        }



        function init_map(){
          var address = encodeURIComponent("{{player.school}}")
          var jsonResponse = jQuery.parseJSON(httpGet("https://maps.googleapis.com/maps/api/geocode/json?address="+address+"&sensor=false&key=AIzaSyBActeEqWee-gv7iH32gAfTpUbfMzym2uA"))
          var lat = jsonResponse.results[0].geometry.location.lat
          var lng = jsonResponse.results[0].geometry.location.lng
          var myOptions = {zoom:14,center:new google.maps.LatLng(lat,lng),mapTypeId: google.maps.MapTypeId.ROADMAP};
          map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker(
            {map: map,position: new google.maps.LatLng(lat, lng)});
          infowindow = new google.maps.InfoWindow(
            {content:"<span class='gmap'><b>{{park}}</b></span><span class='gmap'>"+jsonResponse.results[0].address_components[1].long_name+" "+jsonResponse.results[0].address_components[2].long_name+"</span><span class='gmap'> "+jsonResponse.results[0].address_components[3].long_name+","+jsonResponse.results[0].address_components[4].long_name+"</span>" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, "load", init_map);
          </script>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container-fluid">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <b>
                  {% if player.years.all.0.kind == "hitter" %}
                  <th>Year</th><th>Team</th><th>G</th><th>PA</th><th>BA</th><th>OBP</th><th>SLG</th><th>HR</th><th>RBI</th>
                  {% else %}
                  <th>Year</th><th>Team</th><th>W</th><th>L</th><th>G</th><th>GS</th><th>S</th><th>IP</th><th>WHIP</th>
                  {% endif %}
                </b>
              </tr>
            </thead>

            <tbody>
              {% for year in player.years.all %}
              <tr>
                {% if year.kind == "hitter" %}
                <td><a href="{{ year.year.gen_link }}">{{ year.year.year }}</a></td><td><a href="{{ year.team_year.team.gen_link}}"> {{ year.team_year.team.abbr }} </a></td><td> {{ year.games }}</td><td>{{ year.pa }}</td><td>{{ year.avg }}</td><td>{{ year.obp }}</td><td>{{ year.slg }}</td><td>{{ year.hr }}</td><td>{{ year.rbi }}</td>

                {% else %}
                <td>{{ year.year.year }}</td><td> {{year.team }} </td><td>{{ year.w }}</td><td>{{ year.l }}</td><td> {{ year.games }}</td><td> {{ year.gs }}</td><td> {{ year.s }}</td><td>{{ year.ip }}</td><td>{{ year.whip }}</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
  <div align="center">
      <canvas id="spiderChart" width="500" height="500"></canvas>
      <script src="../../static/js/Chart.js"></script>
      <script>
          // maybe this works...???
          function makeChart(position, vals) {
              var ctx = document.getElementById("spiderChart").getContext("2d");
              var data = {};
              var options = {};
              if (position != "P") {
                data = {
                  labels : ["Batting","On Base","Slugging"],
                  datasets : [
                    {
                      fillColor : "rgba(220,220,220,0.5)",
                      strokeColor : "rgba(220,220,220,1)",
                      pointColor : "rgba(220,220,220,1)",
                      pointStrokeColor : "#fff",
                      // normalizing because chart uses 100 for max vals
                      data : [(vals["ba"]/.366)*100, (vals["obp"]/.4817)*100, (vals["slg"]/.6997)*100]
                    }
                  ]
                }
                var max = 100;
                var steps = 3;
                options = {
                    //Boolean - If we show the scale above the chart data                   
                    scaleOverlay : false,
                    //Boolean - If we want to override with a hard coded scale
                    scaleOverride : true,
                    //** Required if scaleOverride is true **
                    //Number - The number of steps in a hard coded scale
                    scaleSteps : steps,
                    //Number - The value jump in the hard coded scale
                    scaleStepWidth : Math.ceil(max / steps),
                    //Number - The centre starting value
                    scaleStartValue : 0
                }               
              }
              else {
                data = {
                  labels : ["Win %","WHIP","Game Saves per Season"],
                  datasets : [
                    {
                      fillColor : "rgba(220,220,220,0.5)",
                      strokeColor : "rgba(220,220,220,1)",
                      pointColor : "rgba(220,220,220,1)",
                      pointStrokeColor : "#fff",
                      // normalizing becasue chart uses 100 for max vals
                      data : [win_perc * 100, whip, game_saves_per_year]
                    }
                  ],
                  // These are the records holders' stats
                      fillColor : "rgba(151,187,205,0.5)",
                      strokeColor : "rgba(151,187,205,1)",
                      pointColor : "rgba(151,187,205,1)",
                      pointStrokeColor : "#fff",
                      data : [71.7 , 100, 652/19]
                }
              }
              console.log(data);
              console.log(options);
              var myNewChart = new Chart(ctx).Radar(data, options);
          }
          
          // A way to add a method callback to the load event without
          // overwriting existing onload callbacks
          function addLoadEvent(func) {
              var oldonload = window.onload;
              if (typeof window.onload != 'function') {
                window.onload = func;
              } else {
                window.onload = function() {
                  if (oldonload) {
                    oldonload();
                  }
                  func();
                }
              }
            }
            addLoadEvent(function() {
              // Maybe we can get the player object this way?
              var player_id = "{{ player.id }}";
              var player_pos = "{{ player.position }}";
              console.log("ID: " + player_id);
              console.log("POS: " + player_pos);
              $.getJSON("http://0.0.0.0:5000/api/players/" + player_id + "/years", 
                  function(data) {
                  console.log(data);
                  if (player_pos != "P") {
                      var avg = 0;
                      var slg = 0;
                      var obp = 0;
                      var games_total = 0;
                      for (var i = 0; i < data.length; i++) {
                        // This api call is straight-up stupid
                        var fields = data[i]["fields"];
                        console.log(fields);
                        obp += fields["obp"] * fields["games"]; 
                        slg += fields["slg"] * fields["games"]; 
                        avg += fields["avg"] * fields["games"]; 
                        games_total += fields["games"];
                      }
                      obp /= games_total;
                      slg /= games_total;
                      avg /= games_total;       
                      vals = { "ba" : avg, "slg" : slg, "obp" : obp };
                      console.log(vals);
                      makeChart(player_pos, vals);
                  }
                })
              //console.log("Player " + player);
            // makeChart(player);
            });
      
      </script>
  </div>
</div>

{% endblock %}
