{% extends "base.html" %}
{% block searchactive %}class="active"{% endblock %}
{% load staticfiles %}
{% block style %}
body {
  padding: 100;
  background: url('{%static "background.jpg" %}') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  background-color:#333;
}
/* Padding for spacing */
.input-group {
  padding: 10px;
}

{% endblock %}
{% block title %} - Search{% endblock %}
{% block content %}


<div class="container">
 <div class="input-group">
    <input id="search-field" type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
    <div class="input-group-btn">
      <button class="btn btn-default" id="search-button" type="submit" ><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </div>
  <div id="results"></div>


<div class="col-sm-4">
  <div class="list-group">
    <div id="team"></div>
  </div>
</div>
<div class="col-sm-4">
  <div class="list-group">
    <div id="player"></div>
  </div>
</div><div class="col-sm-4">
<div class="list-group">
  <div id="year"></div>
</div>
</div>
<script type="text/javascript"> 
      // wait for the DOM to be loaded 
      $(document).ready(function() {
        $('#search-field').keypress(function(e){
         if(e.which == 13)
          $('#search-button').trigger('click');
      });

        $("#search-button").click(
          function() {
            $( "#year" ).empty();
            $( "#player" ).empty();
            $( "#team" ).empty();
            $( "#results" ).empty();
            var query = $("#search-field").val();
            console.log(query);
            var qregex = "[^<>]"+query;

            $.getJSON( "http://frozen-plateau-5382.herokuapp.com/api/search/" + query + "/", 
              function(data) {
                console.log(data);

                var teams = data["teams"];
                var players = data["players"];
                var years = data["years"];
                var numrez = data["num_results"]
                $("#results").append('<h4>'+numrez+' results for "'+query+'"</h4>')
                $("#team").append('<h3>Teams</h3>')
                for (var i=0, len=teams.length; i < len; i++) {
                  $("#team").append('<div class="list-group-item" style="color:black">');
                  $(".list-group-item:last").append('<h4 class="list-group-item-heading" style="color:black"><a style="color:black" href="'+teams[i]["link"]+'"><span class="search-result-head">'+'('+teams[i]["abbr"]+') '+teams[i]["name"]+'</span></a><h4>');
                  $(".list-group-item:last").append('<p class="list-group-item-text style="color:black"">'+teams[i]["mgr"]+'</p>');
                  $(".list-group-item:last").append('<p class="list-group-item-text style="color:black"">'+teams[i]["park"]+'</p>');
                  $(".list-group-item:last").append('<p class="list-group-item-text style="color:black"">'+teams[i]["city"]+', '+teams[i]["state"]+'</p></div>');
                }
                $("#player").append('<h3>Players</h3>')
                for (var i=0, len=players.length; i < len; i++) {
                  $("#player").append('<div class="list-group-item" style="color:black">');
                  $(".list-group-item:last").append('<h4 class="list-group-item-heading" style="color:black"><a style="color:black" href="'+players[i]["link"]+'"><span class="search-result-head">'+players[i]["name"]+'</span></a><h4>');
                  $(".list-group-item:last").append('<p class="list-group-item-text style="color:black"">'+players[i]["position"]+'</p>');
                  $(".list-group-item:last").append('<p class="list-group-item-text style="color:black"">Bats: '+players[i]["bats"]+'</p>');
                  $(".list-group-item:last").append('<p class="list-group-item-text style="color:black"">Throws: '+players[i]["throws"]+'</p></div>');
                }
                $("#year").append('<h3>Years</h3>')
                for (var i=0, len=years.length; i < len; i++) {
                  $("#year").append('<div class="list-group-item" style="color:black">');
                  $(".list-group-item:last").append('<h4 class="list-group-item-heading" style="color:black"><a style="color:black" href="'+years[i]["link"]+'"><span class="search-result-head">'+years[i]["year"]+'</span></a><h4>');
                  $(".list-group-item:last").append('<p class="list-group-item-text style="color:black"">Champion: '+years[i]["champion"]+'</p></div>');
                }
                $('p').each(function(){
                  $(this).html($(this).html().replace(new RegExp(query, "ig"), '<strong>'+query+'</strong>'));
                });
                $('.search-result-head').each(function(){
                  console.log($(this).html())
                  $(this).html($(this).html().replace(new RegExp(query, "ig"), '<strong>'+query+'</strong>'));
                });
                // $('p').html(html.replace(query, 'eminimemmenm'));
              });
});
});
</script> 
</div> 
{% endblock %}

